<div class="search-container">
  <%= form_with url: topics_path, method: :get, local: true, class: "form" do |form| %>
    <%= form.text_field :body, class: "input", placeholder: "本文で検索", value: params[:body] %>
    <%= form.submit "検索", class: "button" %>
  <% end %>
</div>

<div class="post-list">
  <% @topics.each do |topic| %>
    <a class="post" href="<%= edit_topic_path(topic) %>">
      <div class="header">
        <h2 class="title"><%= topic.body %></h2>
        <p class="timestamp"><%= topic.created_at.strftime("%B %d, %Y") %></p>
      </div>
    </a>
  <% end %>
</div>
